apiVersion: v1
kind: Service
metadata:
  name: {{ include "minio.fullname" . }}
  labels:
    {{- include "minio.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: api
      protocol: TCP
      name: api
    - port: {{ .Values.service.consolePort }}
      targetPort: console
      protocol: TCP
      name: console
  selector:
    {{- include "minio.selectorLabels" . | nindent 4 }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "minio.fullname" . }}-headless
  labels:
    {{- include "minio.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: 9000
      targetPort: api
      protocol: TCP
      name: api
  selector:
    {{- include "minio.selectorLabels" . | nindent 4 }}
